@use "../utils" as u;

header.desktop {
    background-color: var(--color-accent);

    .wrapper {
        position: relative;
    }

    ul {
        list-style-type: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a.logo {
            display: flex;
            padding: 1rem 0rem;
            transition: ease-in 300ms;
            font-size: 1.5rem;

            &:hover {
                background-color: white;
            }
        }

        .links {
            display: none;

            li {
                display: inline-block;
                /* padding: 1rem 1.2rem; */

                a {
                    display: flex;
                    /* width: 100%;
                    height: 100%; */

                    padding: 1rem 1.2rem;
                    transition: ease-in 300ms;
                }

                a:hover {
                    background-color: white;
                }
            }

            @include u.breakpoint(medium) {
                display: block;
            }
        }
    }
}

.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;

    span {
        width: 100%;
        margin: 3px 0;
        height: 3px;
        background-color: white;
        transition: ease-in-out 500ms;
    }

    &.isActive span:nth-of-type(1) {
        transform: rotate(-45deg) translate(-1px, 5px);
    }

    &.isActive span:nth-of-type(2) {
        display: none;
    }
    &.isActive span:nth-of-type(3) {
        transform: rotate(45deg) translate(-1px, -6px);
    }

    z-index: 100;
    @include u.breakpoint(medium) {
        display: none;
    }
}

header.mobile {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--color-accent);
    transition: 750ms;

    ul {
        list-style-type: none;

        li {
            display: block;

            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 8px 12px;

                &:hover {
                    background-color: teal;
                }
            }
        }
    }

    &.isActive {
        right: 0;

        @include u.breakpoint(medium) {
            display: none;
        }
    }
}
