<header class="desktop">
    <div class="wrapper">
        <nav>
            <div><a class="logo" href="/zedi/">Tsotetsi</a></div>
            <ul class="links">
                <li><a href="/zedi/">Home</a></li>
                <li><a href="/zedi/about">About</a></li>
                <li><a href="/zedi/products">Products</a></li>
                <!-- <li><a href=""></a></li> -->
                <li><a href="/zedi/contact">Contacts</a></li>
            </ul>

            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header>
<header class="mobile">
    <ul class="links">
        <li><a href="/zedi/">Home</a></li>
        <li><a href="/zedi/about">About</a></li>
        <li><a href="/zedi/products">Products</a></li>
        <!-- <li><a href=""></a></li> -->
        <li><a href="/zedi/contact">Contacts</a></li>
    </ul>
</header>

<script src="../scripts/main.js"></script>
